if SHIELD_Seaside39_R

config ZMK_KEYBOARD_NAME
    default "Seaside39_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_Seaside39_L

config ZMK_KEYBOARD_NAME
    default "Seaside39_L"

config ZMK_SPLIT
    default y

endif
